@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.txt_cen{
    color: rgba(8, 98, 231, 0.925);
    font-family: 'Lato', Gadget, sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    line-height: 1.1;
}

#cen {
    text-align: center;
}